
    {% extends 'base.html' %} {% load static %} {% block title %} TriTlas API {% endblock %}
{% block content %}     
       
        
        
        
        
       <section class="places-area">
           <div class="container">
            <div class="row text-center">
                <h3>TriTlas | API</h3>
               </div>
               <div class="places-box">
               <div class="row text-center">
                    <a href="https://documenter.getpostman.com/view/6434549/TVRj47Z6">Full API Document Here</a>
                   </div>
                   <div class="row text-center">
                    <embed src="{% static 'img/api.pdf' %}" width="800px" height="2100px" />
                   </div>
               </div>
            
               </div>
        </section>   
        {% endblock %}
        
        
        
        
       