{% extends 'base.html' %}
{% load static %}
{% block title %} TriTlas | Login{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<meta http-equiv = "refresh" content = "0; url = /community" />
{% else %}
<!--
<form method="post">
        {% csrf_token %}
    {{form}}
    <button type="submit">Login</button>
</form>
-->

<form method="post">
     {% csrf_token %}
  <div class="container-a">
    <h1>تسجيل الدخول</h1>
    <p>برجاء ملئ الفراغات لتسجيل الدخول</p>
    <hr>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>


    <hr>


    <button type="submit" class="registerbtn">تسجيل الدخول</button>
  </div>
  <div class="container signin">
    <p>أسترجع كلمة السر الآن <a href="/community/reset/password_reset/">نسيت كلمة السر؟</a>.</p>
  </div>

  <div class="container signin">
    <p>ليس لديك حساب؟ <a href="/community/signup/">سجل الآن</a>.</p>
  </div>
</form>
<style>
 * {box-sizing: border-box}

/* Add padding to containers */
.container-a {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>


{% endif %}
{% endblock %}