{% extends 'base.html' %}
{% load static %}
{% block title %} TriTlas {% endblock %}
{% block content %}
        <!-- slider -->
        <section class="header-home" style="clip-path: circle(550px at center center);">
            <div class="container">
               <div class="row">
                   <h1 class="text-center big-word-head">TriTlas</h1>
                   <p class="text-center" style="color:white;font-size:40px">أضف رحلتك معنا</p>
                </div>

            </div>
        </section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card text-center">
                          <div class="card-header" style="background-color: #183751;color:white;font-size: 15px;">
                            أضف إعلان عادي
                          </div>
                          <div class="card-body">

                            <p class="card-text">أضف إعلان لرحلتك يظهر في صفحة الرحلات فقط الآن مجاناً</p>
                            <a href="/trips/new/add" class="btn btn-primary">أضف الآن</a>
                          </div>
                        </div>
            </div>
            <div class="col-lg-6">
                        <div class="card text-center">
                              <div class="card-header" style="background-color: #183751;color:white;font-size: 15px;">
                                أضف إعلان مميز
                              </div>
                              <div class="card-body">

                                <p class="card-text">أضف إعلانك في الباقة المميزة ليظهر لأكبر عدد مكان</p>
                                <a href="/contact" class="btn btn-primary">تواصل معنا الآن</a>
                              </div>
                            </div>
            </div>
        </div>
    </div>
</section>

<section class="features1 cid-qyvcAqZyNq" id="features1-1" data-rv-view="764">




    <div class="container">
        <div class="container">
            <div class="row text-center">
                <h3 style="color: #622727;font-size: 50px;">ماذا نقدم لك في <span style="color:#0e6184">الباقة المميزة</span></h3>
            </div>
                <div class="row">
            <div class="col-lg-4">
                <div class="card">
                        <div class="card-img pb-3">
                            <i class="fa fa-first-order" style="font-size: 50px;padding-top: 10px;color: #1d9dd2;" media-simple="true"></i>
                        </div>
                        <div class="card-box">
                            <h4 style="font-size: 30px;color: #2a626f;">
                                إعلانك يظهر أولاً</h4>
                            <p> أصحاب الباقة المميزة تظهر إعلاناتهم أولاً في الصفحة المخصصة للرحلات لتحظى بنسب ظهور أكثر </p>
                        </div>
                    </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                        <div class="card-img pb-3">
                    <i class="fa fa-map" style="font-size: 50px;padding-top: 10px;color: #1d9dd2;" media-simple="true"></i>
                </div>
                <div class="card-box">
                    <h4 style="font-size: 30px;color: #2a626f;">
                        إعلانك يظهر في صفحات المدن</h4>
                    <p> أصحاب الباقة المميزة فقط تظهر رحلاتهم في صفحات المدن التي يبحث عنها الزوار لتحظى بنسب ظهور أكثر </p>
                </div></div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                        <div class="card-img pb-3">
                    <i class="fa fa-suitcase" style="font-size: 50px;padding-top: 10px;color: #1d9dd2;" media-simple="true"></i>
                </div>
                <div class="card-box">
                    <h4 style="font-size: 30px;color: #2a626f;">
                        التسويق لرحلتك
                    </h4>
                    <p> أصحاب الباقة المميزة سيتمتعون بنشر رحلاتهم على مواقع التواصل الإجتماعي الخاصة بنا لتحظى بمشاهدات أكثر </p>
                </div></div>
            </div>
           <div class="col-lg-4">
                <div class="card">
                        <div class="card-img pb-3">
                    <i class="fa fa-map" style="font-size: 50px;padding-top: 10px;color: #1d9dd2;" media-simple="true"></i>
                </div>
                <div class="card-box">
                    <h4 style="font-size: 30px;color: #2a626f;">
                        إعلان لرحلتك داخل المجتمع</h4>
                    <p> أصحاب الباقة المميزة يتمتعون بنشر رحلاتهم بشكل دوري داخل منشورات المجتمع الخاصة بنا لتحظى بمشاهدات أكثر </p>
                </div></div>
            </div>

                    <div class="col-lg-4">
                <div class="card">
                        <div class="card-img pb-3">
                    <i class="fa fa-map" style="font-size: 50px;padding-top: 10px;color: #1d9dd2;" media-simple="true"></i>
                </div>
                <div class="card-box">
                    <h4 style="font-size: 30px;color: #2a626f;">
                        دعم فني متواصل</h4>
                    <p> أصحاب الباقة المميزة يتمتعون بدعم فني لإدارة إعلاناتهم وتعديلها وقتما يشاءون بجانب نصائح لكي يظهر إعلانك بأفضل شكل ممكن </p>
                </div></div>
            </div>
                    <div class="col-lg-4">
                <div class="card">
                        <div class="card-img pb-3">
                    <i class="fa fa-map" style="font-size: 50px;padding-top: 10px;color: #1d9dd2;" media-simple="true"></i>
                </div>
                <div class="card-box">
                    <h4 style="font-size: 30px;color: #2a626f;">
                        حملة إعلانية</h4>
                    <p> أصحاب الباقة المميزة يمكنهم طلب إنشاء حملة إعلانية مميزة على صفحات التواصل الإجتماعي المختلفة </p>
                </div></div>
            </div>

</div>


        </div>

    </div>

</section>









        <section class="join-find-bar">
            <div class="container">
            <div class="row  text-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 comm-join align-self-center">
                    <h3>أنضم للمجتمع الخاص بنا</h3>
                    <h5>أنضم للمجتمع الخاص بنا وشارك صورك وتفاعل مع صور الأخرين لتتعرف على افضل الأماكن الجديدة</h5>
                    <form action="/community    ">
                    <button class="btn btn-danger">أنضم الآن</button>
                        </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 find-jor">
                    <h3>أضف رحلتك</h3>
                    <h5>هل أنت منظم رحلات وتريد إضافة رحلتك؟ أضغط على الزر لمعلومات أكثر</h5>
                    <form action="/trips/new/select">
                        <button class="btn btn-danger">أضف رحلتك</button></form>
                </div>
            </div>
                </div>
        </section>
{% endblock %}