{% extends 'base.html' %}
{% load static %}
{% block title %} TriTlas {% endblock %}
{% block content %}

        <!-- slider -->

        <section class="header-one-place">
            <div class="container">
                <div class="row" style="position: relative;left: 1em;top: 7em;">
                 
                        <h1 class="text-center big-word-head" style="font-size: 50px">الرحلات المتوفرة في <span id="num-of-places">شرم الشيخ</span></h1>
                      
                </div>
            </div>
        </section>
        
        <section class="ads">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <a href="/contact"><img class="img-responsive" src="{% static 'img/ad-728-90.png' %}"/></a>
                        </div>
                </div>
            </div>
        </section>
        
       <section class="places-area">
           <div class="container">
            <div id="places-intro">
                <div class="adv-trips-pro">
                    <div class="row">
                        <div class="col-lg-4 col-md-6  col-sm-12 text-center box">
                        <div class="places-box box-trips">
                        <h3>الوجهة : شرم الشيخ</h3>
                            <h5>التاريخ : 2020/05/13</h5>
                            <h5>مكان الإنطلاق : القاهرة</h5>
                            <h5>عدد الليالي : 3</h5>
                            <h5><span id="trip-price-box">السعر : 500</span></h5>
                            <form action="one-trip.html">
                            <button class="btn btn-danger">أعرض التفاصيل
                                <i class="glyphicon glyphicon-star"></i>
                                </button></form>
                                    
                        </div>
                    </div>
                        <div class="col-lg-4 col-md-6  col-sm-12 text-center box">
                        <div class="places-box box-trips">
                        <h3>الوجهة : شرم الشيخ</h3>
                            <h5>التاريخ : 2020/05/13</h5>
                            <h5>مكان الإنطلاق : القاهرة</h5>
                            <h5>عدد الليالي : 3</h5>
                            <h5><span id="trip-price-box">السعر : 500</span></h5>
                            <form action="one-trip.html">
                            <button class="btn btn-danger">أعرض التفاصيل
                                <i class="glyphicon glyphicon-star"></i>
                                </button></form>
                                    
                        </div>
                    </div>
                         <div class="col-lg-4 col-md-6  col-sm-12 text-center box">
                        <div class="places-box box-trips">
                        <h3>الوجهة : شرم الشيخ</h3>
                            <h5>التاريخ : 2020/05/13</h5>
                            <h5>مكان الإنطلاق : القاهرة</h5>
                            <h5>عدد الليالي : 3</h5>
                            <h5><span id="trip-price-box">السعر : 500</span></h5>
                            <form action="one-trip.html">
                            <button class="btn btn-danger">أعرض التفاصيل
                                <i class="glyphicon glyphicon-star"></i>
                                </button></form>
                                    
                        </div>
                    </div>
                        
                    </div>
                    </div>
                </div>
               
                <div class="places-boxs-area">
                <div class="row">
                    <div class="col-lg-4 col-md-6  col-sm-12 text-center box">
                        <div class="places-box box-trips">
                        <h3>الوجهة : شرم الشيخ</h3>
                            <h5>التاريخ : 2020/05/13</h5>
                            <h5>مكان الإنطلاق : القاهرة</h5>
                            <h5>عدد الليالي : 3</h5>
                            <h5><span id="trip-price-box">السعر : 500</span></h5>
                            <form action="one-trip.html">
                            <button class="btn btn-danger">أعرض التفاصيل</button></form>
                                    
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-12 text-center box">
                        <div class="places-box box-trips">
                        <h3>الوجهة : شرم الشيخ</h3>
                            <h5>التاريخ : 2020/05/13</h5>
                            <h5>مكان الإنطلاق : القاهرة</h5>
                            <h5>عدد الليالي : 3</h5>
                            <h5><span id="trip-price-box">السعر : 500</span></h5>
                            <form action="one-trip.html">
                            <button class="btn btn-danger">أعرض التفاصيل</button></form>
                                    
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-12 text-center box">
                        <div class="places-box box-trips">
                        <h3>الوجهة : شرم الشيخ</h3>
                            <h5>التاريخ : 2020/05/13</h5>
                            <h5>مكان الإنطلاق : القاهرة</h5>
                            <h5>عدد الليالي : 3</h5>
                            <h5><span id="trip-price-box">السعر : 500</span></h5>
                            <form action="one-trip.html">
                            <button class="btn btn-danger">أعرض التفاصيل</button></form>
                                    
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-12 text-center box">
                        <div class="places-box box-trips">
                        <h3>الوجهة : شرم الشيخ</h3>
                            <h5>التاريخ : 2020/05/13</h5>
                            <h5>مكان الإنطلاق : القاهرة</h5>
                            <h5>عدد الليالي : 3</h5>
                            <h5><span id="trip-price-box">السعر : 500</span></h5>
                            <form action="one-trip.html">
                            <button class="btn btn-danger">أعرض التفاصيل</button></form>
                                    
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-12 text-center box">
                        <div class="places-box box-trips">
                        <h3>الوجهة : شرم الشيخ</h3>
                            <h5>التاريخ : 2020/05/13</h5>
                            <h5>مكان الإنطلاق : القاهرة</h5>
                            <h5>عدد الليالي : 3</h5>
                            <h5><span id="trip-price-box">السعر : 500</span></h5>
                            <form action="one-trip.html">
                            <button class="btn btn-danger">أعرض التفاصيل</button></form>
                                    
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-12 text-center box">
                        <div class="places-box box-trips">
                        <h3>الوجهة : شرم الشيخ</h3>
                            <h5>التاريخ : 2020/05/13</h5>
                            <h5>مكان الإنطلاق : القاهرة</h5>
                            <h5>عدد الليالي : 3</h5>
                            <h5><span id="trip-price-box">السعر : 500</span></h5>
                            <form action="one-trip.html">
                            <button class="btn btn-danger">أعرض التفاصيل</button></form>
                                    
                        </div>
                    </div>
                    
                    
                    </div>
                    
                    </div>
           </div>   
               </div>
        </section>  
        <section class="join-find-bar">
            <div class="container">
            <div class="row  text-center">
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 comm-join align-self-center">
                    <h3>أنضم للمجتمع الخاص بنا</h3>
                    <h5>أنضم للمجتمع الخاص بنا وشارك صورك وتفاعل مع صور الأخرين لتتعرف على افضل الأماكن الجديدة</h5>
                    <form action="comm.html">
                    <button class="btn btn-danger">أنضم الآن</button>
                        </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 find-jor">
                    <h3>أضف رحلتك</h3>
                    <h5>هل أنت منظم رحلات وتريد إضافة رحلتك؟ أضغط على الزر لمعلومات أكثر</h5>
                   <form action="add-trip.html">
                        <button class="btn btn-danger">أضف رحلتك</button></form>
                </div>
                
            </div>
                </div>
        </section>
{% endblock %}